body{
  display: flex;
  justify-content: center;
  align-content: center;
  background: #112540;
}
.contenedor{
  width: 50%;
}
.caja{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
}
button{
  padding: 0.5rem 1rem;
}
.boton{
  background: transparent;
  border: none;
  font-size: 1rem;
}
.input-text{
  border:none;
  outline: none;
  padding: 1rem .5rem;
  border-radius: .3rem;
  width: 82%;
}
.input-boton{
  padding: 1rem .5rem;
  border: transparent;
  border-radius: .3rem;
  background: #308AD9;
  outline: none;
  color: #fff;
}

.input-boton:hover{
  cursor: pointer;
}
.caja{
  background: #fff;
  /* width: 100%; */
  padding: .5rem 1rem;
  border-radius: .3rem;
  margin-bottom: 1rem;
}
.formulario{
  margin-bottom: 1rem;
}
p{
  padding-right: 4rem;
  font-size: 1.5rem;
}
.contenedor-botones .boton{
  border-radius: .3rem;
  background: #dc2626;
  color: #fff;
}
.boton:hover{
  cursor: pointer;
}
.contenedor-botones .botonEditar{
  color: #fff;
  border-radius: .3rem;
  background: transparent;
  border: none;
  background: #64748b;
}
.botonEditar:hover{
  cursor: pointer;
}
@media(width:768px){
  .contenedor{
    width: 80%;
  }


}

@media(width<480px){
  .contenedor{
    width: 100%;
  }
  .input-text{
    width: 60%;
  }
  .contenedor-botones{
    display: flex;
    gap: .5rem;
  }
  .caja{
    width: 90%;
  }
  button{
    padding: 0rem 2rem;
  }
  p{
    font-size: 1rem;
  }


}